.gauge{

position:relative;

display:flex;

justify-content:center;

align-items:center;

}

.gauge svg{

transform:rotate(-90deg);

}

.gauge-content{

position:absolute;

text-align:center;

}

.gauge-content h2{

font-size:2rem;

color:white;

}

.gauge-content span{

color:#3cff78;

font-weight:600;

}