.dashboard-page {
  padding: 90px 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background-color:transparent;
}

.dashboard-page {
  position: relative;
  z-index: 2;
}

.environment-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-top: 30px;
}

.environment-card {
  flex: 1 1 300px;
  max-width: 480px;        /* más ancho en desktop */
  width: 100%;
  box-sizing: border-box;
}

/* Tablet */
@media (max-width: 1024px) {
  
  .environment-card {
    flex: 1 1 45%;
    max-width: 48%;
  }
}

/* Móvil */
@media (max-width: 768px) {
  .dashboard-page {
    padding: 80px 15px;
  }

  .environment-cards-container {
    flex-direction: column;
    align-items: stretch;  /* stretch en vez de center */
    gap: 15px;
  }

  .environment-card {
    width: 100%;
    max-width: 100%;       /* ocupa todo el ancho disponible */
    flex: none;
  }
}

@media (max-width: 768px) {
  .dashboard-page    { padding-top: 120px; }
  .all-env-container { padding-top: 120px; }
}