.dashboard-mockup {

    width: 780px;
    max-width: 780px;
    position:relative;
    z-index: 2;
    opacity: 0.88;
    background:
    linear-gradient(
        180deg,
        rgba(15,23,42,.98),
        rgba(7,15,25,.95)
    );

    border: 1px solid rgba(39,245,210,.15);
    border-radius: 32px;
    padding: 24px;
    backdrop-filter: blur(18px);

    box-shadow:
        0 50px 120px rgba(0,0,0,.55),
        0 0 70px rgba(39,245,210,.12),
        0 0 0 1px rgba(39,245,210,.05);

    transform:
        perspective(1700px)
        rotateY(-10deg)
        rotateX(5deg)
        scale(.95);

        transition:.5s;
}

.dashboard-mockup:hover{

    transform:
        perspective(1600px)
        rotateY(-16deg)
        rotateX(6deg)
        translateY(-8px)
        scale(.96);

}

.dashboard-mockup::after{

    content:"";

    position:absolute;

    inset:-120px;

    background:

        radial-gradient(

            circle,

            rgba(39,245,210,.08),

            transparent 70%

        );

    filter:blur(80px);

    z-index:-1;

}

.dashboard-metrics {
    
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
}

.dashboard-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:16px;
}

.gauge-card{

    display:flex;
    justify-content:center;

    align-items:center;
    min-height:230px;

    overflow:hidden;

}



@media (max-width:1400px){

    .dashboard-mockup{

        width:650px;

        transform:
            perspective(1500px)
            rotateY(-12deg)
            rotateX(5deg)
            scale(.9);

    }

}

@media (max-width:1100px){

    .dashboard-mockup{

        width:100%;
        max-width:700px;

        transform:none;

        margin:0 auto;

    }

    .dashboard-mockup:hover{

    transform:translateY(-6px);
    }

}

@media (max-width:768px){

    .dashboard-mockup{

        padding:18px;

        border-radius:24px;

    }

    .dashboard-metrics{

        flex-direction:column;

    }

    .dashboard-grid{

        grid-template-columns:1fr;

    }

}

@media (max-width:480px){

    .dashboard-mockup{

        padding:15px;

        border-radius:20px;

    }
}