.hero{

    position: relative;
    width:100%;
    min-height: 900px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding-top: 85px;
    padding-bottom:40px;
    overflow:hidden;
    background:
        radial-gradient(circle at top,#072540 0%,#020817 55%,#020817 100%);
}

.hero-glow{

    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    opacity:.35;

}

.hero-glow-left{

    width:500px;

    height:500px;

    background:#00E5B0;

    top:-180px;

    left:-180px;

}

.hero-glow-right{

    width:600px;

    height:600px;

    background:#00C2FF;

    bottom:-250px;

    right:-250px;

}

.hero-container{
    width:100%;
    max-width:1800px;
    padding:0 30px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    gap: 1px;
}


.hero-left{

   flex: 0 0 48%;
   max-width: none;

   animation: slideLeft 1s ease;
}

.hero-right{

    flex: 0 0 50%;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
    z-index:2;
    right:0;
    top:0;
    transform:none;

    animation: slideRight 1s ease;

}

@keyframes slideLeft{

    from{
        opacity:0;
        transform:translateX(-60px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}

@keyframes slideRight{

    from{
        opacity:0;
        transform:translateX(60px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}

.dashboard-glow{

    position:absolute;

    width:650px;
    height:650px;

    right:40px;
    top:180px;

    border-radius:50%;

    background:radial-gradient(
        circle,
        rgba(39,245,210,.18),
        transparent 70%
    );

    filter:blur(90px);

    z-index:0;

}

.hero-dashboard{

    width:100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;

    animation:floatDashboard 5s ease-in-out infinite;

}

@keyframes floatDashboard{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-10px);
    }

    100%{
        transform:translateY(0);
    }

}

.hero-transition{

    position:absolute;

    left:0;
    bottom:0;

    width:100%;
    height:220px;

    pointer-events:none;

    background:linear-gradient(
        to bottom,
        rgba(2,8,23,0),
        rgba(5,20,35,.45),
        #081f33
    );

}

.hero::after{

    content:"";

    position:absolute;

    left:0;
    bottom:0;

    width:100%;
    height:180px;

    background:linear-gradient(
        to bottom,
        rgba(2,8,23,0),
        #020817
    );

    pointer-events:none;

}