.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: 2px solid #5de6c8;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  color: #5de6c8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}

.back-button:hover {
  background-color: #5de6c8;
  color: white;
}