.hero{

    position: relative;
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 8%;
    overflow:hidden;
    background:
        radial-gradient(circle at top,#072540 0%,#020817 45%,#01030d 100%);
}

.hero-glow{

    position:absolute;
    border-radius:50%;
    filter:blur(120px);
    opacity:.35;

}

.hero-glow-left{

    width:500px;

    height:500px;

    background:#00E5B0;

    top:-180px;

    left:-180px;

}

.hero-glow-right{

    width:600px;

    height:600px;

    background:#00C2FF;

    bottom:-250px;

    right:-250px;

}

.hero-container{
    width:100%;

    max-width:1700px;

    margin:0 auto;

    padding:0 60px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    gap:140px;
}


.hero-left{

   flex: 0 0 48%;
   max-width: 760px;
}

.hero-right{

    flex: 0 0 52%;

    display:flex;
    justify-content:center;
    align-items:center;

}

.hero-dashboard{

    width:100%;

    display:flex;

    justify-content:flex-end;

    align-items:center;
}
