.management-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.back {
  cursor: pointer;
}

/* BOTÓN */
.btn-add {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #5de6c8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* LISTA */
.env-list {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.env-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.env-item:last-child {
  border-bottom: none;
}

/* BOTONES */
.actions {
  display: flex;
  gap: 10px;
}

.btn-edit {
  background-color: orange;
  border: none;
  padding: 5px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}